@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply box-border;
    }
}

@layer components {
    .navbar {
        @apply bg-[#F4EDE4] w-full z-[2] max-h-[56px] 
        items-center flex justify-center fixed dark:bg-[#202023] 
        dark:bg-opacity-40 bg-opacity-40 backdrop-filter backdrop-blur-md;
    }

    .footer {
        @apply text-center text-[#9e9e9e] text-sm py-8;
    }

    .logoBox {
        @apply font-bold text-[18px] inline-flex gap-x-1 items-center 
        h-[56px] leading-5 p-3;
    }

    .linkItem {
        @apply p-2 text-[#1A202C] hover:underline underline-offset-[3px] 
        dark:text-[#EDEDED];
    }

    .dropdownIcon {
        @apply p-3 mr-3 border-2 rounded-md cursor-pointer hover:bg-[#EDF2F7]
        dark:text-[#C1C1C1] dark:hover:bg-[#323235] dark:border-[#525255];
    }

    .dropdown {
        @apply absolute top-12 right-1 bg-white border rounded-md 
        flex flex-col w-[200px] dark:bg-[#2D3748] transition-all duration-300;
    }

    .dropdownLink {
        @apply hover:underline underline-offset-[3px] hover:bg-[#EDF2F7] 
        pl-4 pt-2 pb-3 dark:hover:bg-[#394353] dark:text-[#EFF0F2]
       dark:border-[#525255];
    }

    .articleHeading {
        @apply font-Rounded1c text-[1.17rem] mb-3 font-bold border-b-4
        border-b-[#525252] inline-block;
    }

    .bioHeading {
       @apply pl-[3.4em] indent-[-3.4em] py-1;
    }

    .bioParagraph {
        @apply font-bold mr-[1em];
    }

    .bioHighlight {
        @apply text-[#5580d6] dark:text-[#D657A5];
    }

    .socialLink {
        @apply text-[#2C7A7B] flex gap-x-1 items-center font-bold hover:bg-[#E6FFFA] 
        p-2 px-3 rounded-md dark:text-[#7CDBCF] dark:hover:bg-[#2C3839];
    }

    .formInput {
        @apply h-12 rounded-lg bg-[#F5F0E8] outline-[#525252] w-full p-4 
        dark:bg-[#313134] dark:text-[#E6E6E6] dark:outline-[#EEEEEE] 
        placeholder-[#7b7b7b] md:w-[50%];
    }

    .formTextArea {
        @apply h-44 my-3 rounded-lg bg-[#F5F0E8] outline-[#525252] p-4 
        resize-none dark:bg-[#313134] dark:text-[#E6E6E6] dark:outline-[#EEEEEE]
        placeholder-[#7b7b7b];
    }

    .btn {
        @apply flex bg-[#319795] hover:bg-[#2C7A7B] items-center 
        p-2 px-3 font-semibold rounded-md gap-2 my-4 text-center 
        text-white dark:bg-[#81e6d9] dark:hover:bg-[#4FD1C5] 
        dark:text-[#244148];
    }
}
